@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {

    font-family: comfortaa;
    color: white;
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
   /* position: -webkit-sticky;  Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #222;
  }
  .active {
    background-color: #04AA6D;
  }
  li:last-child {
    border-right: none;
  }
.logo {
    display:block;
    width: 1rem;
    }

#main-container {

    text-align: center;

}

#intro {
 
  margin-left: 2.5rem;
  margin-bottom: 2rem;
  justify-content:stretch;
  font-weight: 600;
  font-size: 2rem;

}

.introsubheading {
  margin-left: 5rem;
  justify-content: stretch;
  font-weight: 200;
  font-size: 1.3rem; 


}
.introsubheading2 {
  margin-left: 20rem;
  justify-content: stretch;
  font-weight: 200;
  font-size: 1.3rem; 


}

.whatisaoc { 

  justify-content:center;
  text-align: center;
  
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: 1.05rem;
}

.continuedhomepage {

  margin-right: 15rem;
  margin-left: 15rem;

}

.transition-image {

  margin: auto, auto, auto, auto;

}



.commonerrorsarticle {
  border-style: solid;
  border-color: #bbb;
  border-width: 2px;
  text-align: center;

}

.modpackinstallationarticle {
  border-style: solid;
  border-color: #bbb;
  border-width: 2px;
  text-align: center;


}

.credit {

  font-size: small;
  font-weight: 200;
  color: grey;

}

.cpanelliink {


  font-size: 5rem;

}

.cpanelliink:hover {


  font-size: 5rem;
  color: white
}

.skillsystemarticle {

  border-style: solid;
  border-color: #bbb;
  border-width: 2px;
  text-align: center;
}