@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

body {

    font-family: comfortaa;
    color: white;
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #444;
   /* position: -webkit-sticky;  Safari */
    position: sticky;
    top: 0;
  }
  
  li {
    float: left;
    border-right: 1px solid #bbb;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #222;
  }
  .active {
    background-color: #04AA6D;
  }
  li:last-child {
    border-right: none;
  }
.logo {
    display:block;
    width: 1rem;
    }

#main-container {

    text-align: center;

}

#intro {
 
  margin-left: 2.5rem;
  margin-bottom: 2rem;
  justify-content:stretch;
  font-weight: 600;
  font-size: 2rem;

}

.introsubheading {
  margin-left: 5rem;
  justify-content: stretch;
  font-weight: 200;
  font-size: 1.3rem; 


}
.introsubheading2 {
  margin-left: 20rem;
  justify-content: stretch;
  font-weight: 200;
  font-size: 1.3rem; 


}

.whatisaoc { 

  justify-content:center;
  text-align: center;
  
  margin-left: 5rem;
  margin-right: 5rem;
  font-size: 1.05rem;
}

.continuedhomepage {

  margin-right: 15rem;
  margin-left: 15rem;

}

.transition-image {

  margin: auto, auto, auto, auto;

}



.commonerrorsarticle {
  border-style: solid;
  border-color: #bbb;
  border-width: 2px;
  text-align: center;

}

.modpackinstallationarticle {
  border-style: solid;
  border-color: #bbb;
  border-width: 2px;
  text-align: center;


}

.credit {

  font-size: small;
  font-weight: 200;
  color: grey;

}

.cpanelliink {


  font-size: 5rem;

}

.cpanelliink:hover {


  font-size: 5rem;
  color: white
}

.skillsystemarticle {

  border-style: solid;
  border-color: #bbb;
  border-width: 2px;
  text-align: center;
}

.sidenav {
  width: 2rem;
  position: fixed;
  z-index: 1;
  top: 20px;
  right: 0px;
  backdrop-filter: blur(10px);
  overflow-x: hidden;
  padding: 0px;
  text-align: center;
  color: wheat;

  transition: width .6s ease-in-out, box-shadow 0.6s ease-in-out;
  
  border: 2px solid white;
  border-radius: 5px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
/*   padding: 1em; */
/* forked from old website */
 
}
.sidenav-content {
  margin: 1em;
/*   filter: blur(4px); */
  transition: filter .5s;
}
.sidenav:hover {
  width: 15rem;


    
  -webkit-box-shadow: -29px 14px 29px -15px #7037ffab;
  -moz-box-shadow: -29px 14px 29px -15px #7037ffab;
  box-shadow: -29px 14px 29px -15px #7037ffab;
  
/*   filter: blur(0px);   */
}

@media only screen and (max-width: 600px) {
  div.sidenav {
    display: none;
  }
}

.deathsystemarticle {
  border-style: solid;
  border-color: #bbb;
  border-width: 2px;
  text-align: center;

}


